<h1> New Path: new_booking_path @ bookings#new</h1>

<%= form_for @booking do |f| %>
<select id="location">
  <% Booking.pluck(:location).uniq.each do |location| %>
    <option> <%= location %> </option>
  <% end %>
</select>

<div class="bookings" >
  <%# Booking.all.group_by(&:location).each do |location,bookings|%>
        <%#= location %>
        <%# f.select :booking_id, bookings.pluck(:date,:id), {}, {:id => location} %>
      <%# end %>
  <%= datetime_select("booking","datetime")%>

  <%= f.submit %>
  <% end %>
</div>