<h1> Show Path: booking_path @ bookings#show </h1>

<div>
    Session Booked With:
    <div class="trainerBookingImg">
    Your booking will be on the: <%= @booking.datetime %>
    <br>
    Access the current user trainer = <%= @booking.trainer.name %> @boooking.trainer.name
    <br>
    CSS:
    Height: 300px?
    <br>
    Youll be training with......?
    <br>
    @booking[:trainer_id] or (Surprise)
    </div>
<hr>

<div>
    btn btn-outline-dark



