<h1> Show Path: booking_path @ bookings#show </h1>

<div>
    Session Booked With:
    <div class="trainerBookingImg">
    Image Here of the trainer
    Height: 300px?
    Youll be training: 
    Trainers.speciality
    </div>
    Somehow grab the id of the trainer that the user selected in the drop down
    and then access that trainers image value
<hr>
    Booking Details:
    <hr>

    Date:   Time:  Location:
<div>

and a confirm button 


After grabbing the value for the 3 select options 
then concatenates them into one string
display them in some basic way 
and display the trainer this user has 


