<div class="homePageHeading">
<h1> School of Hard Knocks </h1>
</div>

<hr>
<!--Carousel Div here-->
<div class="homeImgContainer">
    Carousel Div here rotating through images 
</div>
<!----->
<hr>

<div class="homeTextImgDisplay">
    <div class="row">
        <div class="col">
<!--Div here with -->
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
mollit anim id est laborum.</p>
<br>
    Div here with a col-12 text taking up one half 
    (im thinking will be in a div with col-6) and
<br> 
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
incididunt ut labore et dolore magna aliqua. Est sit amet facilisis magna etiam 
tempor orci eu lobortis. Suspendisse sed nisi lacus sed viverra tellus in. Cras 
tincidunt lobortis feugiat vivamus at augue. Interdum posuere lorem ipsum dolor sit amet. 
Urna nunc id cursus metus aliquam eleifend mi in nulla. Pellentesque habitant morbi tristique 
senectus. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Porta non pulvinar neque 
laoreet suspendisse interdum consectetur libero id. Neque volutpat ac tincidunt vitae semper. 
Vitae purus faucibus ornare suspendisse sed. Lobortis feugiat vivamus at augue. Tincidunt id 
aliquet risus feugiat in ante metus dictum. Magna sit amet purus gravida. Viverra vitae congue eu 
consequat. Massa tempor nec feugiat nisl. Mi tempus imperdiet nulla malesuada pellentesque elit eget. 
Et malesuada fames ac turpis egestas maecenas pharetra. Erat nam at lectus urna duis. Massa enim nec dui 
nunc mattis enim ut tellus
</p>

<!---->
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/97hA59L7SYI?start=183" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>
<!--Maps div-->
Maybe a google maps div here where you can search for a club
<!---->


<!---->
<hr>
<footer>
<!--Footer here-->
    Footer Down here with a black background 
    social media links 
    contact links 
</footer>