<div class="homePageHeading">
<h1> School of Hard Knocks </h1>
</div>

<hr>
<!--Carousel Div here-->
<div class="homeImgContainer">
    Carousel Div here rotating through images 
</div>
<!----->
<hr>

<div class="homeTextImgDisplay">
    <div class="row">
        <div class="col">
<!--Div here with -->
    Div here with a col-12 text taking up one half 
    (im thinking will be in a div with col-6) and 
<!---->
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/97hA59L7SYI?start=183" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>
<!--Maps div-->
Maybe a google maps div here where you can search for a club
<!---->


<!---->
<hr>
<!--Footer here-->
    Footer Down here with a black background 
    social media links 
    contact links 