@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

body {
    
    font-family: 'Monda', sans-serif;
}

.homePageHeading, footer {
    padding: 100px 0px;
    background-color: black;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    text-align: center;
}

ul, ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

/*
.bookings select {
    display: none;
}*/

.users {
    width: 1000px;
}

.homeImgContainer {
    height: 600px;
}

.trainersContainer {
    width: 1000px;
    margin: 0 auto;
}