@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

body h1 {
    font-weight: bold;
    color: grey;
    font-family: 'Monda', sans-serif;
    padding-top: 30px;
    margin-top: 30px;
    font-size: 3em;
}

.trainer {
    border: 2.5px solid grey;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: transform .99s;
}



.trainer:hover {
    transform: scale(1.5)
}

.homeTextImgDisplay {
    margin: 100px 0;
    padding: 50px 0;
    line-height: 2em;
    transition: transform .5s;
}

.homeTextImgDisplay:hover {
    background-color: lightgrey;
    border-radius: 5px;
    transform: scale(1.05)
}

.homePageHeading, footer {
    padding: 100px 0px;
    background-color: black;
}

footer {
    height: 500px;
}

.blue, .red, .green {
    height: 100px;
    color: whitesmoke;
}

.blue{
    background-color: blue;
}

.red{
    background-color: brown;
}

.green{
    background-color: green;
}

.black {
    color: black;
    font-size: 1.25em;
}

.grey {
    color: grey;
}

footer ul {
    padding: 10px 0;
    font-size: 1.25em;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    text-align: center;
}

ul, ul li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    padding-top: 5px;
    letter-spacing: 2px;
}

.hidden {
    display: none;
}

/*
.bookings select {
    display: none;
}*/

.users {
    width: 1000px;
}

.homeImgContainer {
    height: 700px;
    margin: 100px 0;
    transition: transform .9s;
}

.homeImgContainer:hover{
    opacity: .9;
    transform: scale(1.02);
    background-color: lightgrey;
}

.trainersContainer {
    max-height: 800px;
    overflow-y:scroll ;
    width: 1000px;
    margin: 0 auto;
}

.bookings, #location {
    font-size: 1.5em;
}

.gif-padding {
    height: 100px
}

.btn {
    color: inherit;
    text-decoration: none;
    padding: 25px 50px;
}

a {
    text-decoration: none;
}

